service:
  name: {{ service_name }}
  identifier: {{ service_id }}
  orgIdentifier: {{ org_id }}
  projectIdentifier: {{ project_id }}
  serviceDefinition:
    spec:
      manifests:
        - manifest:
            identifier: templates
            type: K8sManifest
            spec:
              store:
                type: Github
                spec:
                  connectorRef: github_public
                  gitFetchType: Branch
                  paths:
                    - harness-cd-test-drive/assets/k8s/manifests
                  repoName: harness-community/field-workshops
                  branch: main
              valuesPaths:
                - harness-cd-test-drive/assets/k8s/values.yaml
              skipResourceVersioning: false
              enableDeclarativeRollback: false
    type: Kubernetes
