service:
  name: {{ service_name }}
  identifier: {{ service_id }}
  orgIdentifier: {{ org_id }}
  projectIdentifier: {{ project_id }}
  serviceDefinition:
    spec:
      manifests:
        - manifest:
            identifier: templates
            type: K8sManifest
            spec:
              store:
                type: Github
                spec:
                  connectorRef: github_public
                  gitFetchType: Branch
                  paths:
                    - harness-deploy/frontend/manifests
                  repoName: harness-community/devsecops-workshop
                  branch: main
              valuesPaths:
                - harness-deploy/frontend/values.yaml
              skipResourceVersioning: false
              enableDeclarativeRollback: false
      artifacts:
        primary:
          primaryArtifactRef: frontend
          sources:
            - identifier: frontend
              spec:
                connectorRef: org.workshopgar
                repositoryType: docker
                project: seworkshop
                region: us
                repositoryName: seworkshop
                package: harness-workshop
                version: <+lastPublished.tag>
                digest: ""
              type: GoogleArtifactRegistry
    type: Kubernetes
