body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.credentials-container {
    display: flex;
    flex-wrap: wrap; /* This allows items to wrap to next line on smaller screens */
    justify-content: center; /* Centers items horizontally */
    gap: 20px; /* Adds space between the boxes */
}
.credentials {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1 1 600px; /* Flex-grow, flex-shrink, flex-basis */
    max-width: 800px; /* Maximum width of each box */
}
img {
    width: auto;
    height: 25px;
}
.copy-button {
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border: .5px solid;
    color: black;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}
.copy-button i {
    color: black;
}
.copy-button:active {
    background-color: black;
    color: white;
}
.copy-button:active i {
    color: white;
}